/* - Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%) */



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Red Hat Display, sans-serif;
    background-color:hsl(225, 100%, 94%);
    outline: 1px solid blue;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:hsl(240, 17%, 95%);
    border-radius:15px;
    width:350px;
    height:fit-content;
    overflow: hidden;
}


#hero-img{
  object-fit: cover;
  border-radius:17px 17px 0 0;
  width:350px;
  position: relative;
}

.text{
    text-align: center;
    padding: 10px;
    margin: auto; 
}
#header{
   margin-bottom: 5px;
}
.paro{
   color: hsl(228, 21%, 43%);
   font-size:18px;
   margin-top: 20px;;
}

.yr-plan{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color:hsl(225, 67%, 94%);
    padding: 18px;
    width: 310px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
  }
#music-icon{
  border-radius: 50%;
  background-color: hsl(228, 21%, 43%);
  
}

a{
 color:rgb(39, 39, 179);
}

.price p{
    color:hsl(223, 47%, 23%);
    margin-top: 5px;
}

.buttons{
    display: grid; 
    margin-bottom: 10px;
   
}
#purple{
  border-radius: 14px;
  background-color:hsl(246, 71%, 41%);
  color:hsl(225, 100%, 98%);
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  box-shadow: 0 0 20px hsl(225, 67%, 94%) ;

}

#white{
     color: hsl(229, 18%, 52%);
     padding: 15px 20px;
     border-radius: 14px;
     font-size: 18px;
     margin-top:10px;
     width: 300px;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border: none;
     /* outline: 10px solid yellow; */
     height: 50px;
     font-weight: bold;
     background-color:hsl(225, 100%, 98%);
}

